{% extends 'base.html' %}
{% block title %} features {% endblock %}

{% block body %}

<div class="container">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed lacus eget nunc
viverra sollicitudin. Aenean vitae lacus vitae nunc viverra sollicitudin. Suspendisse
pretium quam vitae lacus laoreet. Proin ac justo eget lacus laoreet vestibulum.

Etiam blandit aliquet lacus, vitae malesuada sem. Nullam maximus purus quis ante
commodo viverra. Sed interdum lacus vitae purus viverra sollicitudin. Aenean vitae
lacus vitae nunc viverra sollicitudin.

Morbi malesuada, libero vitae consequat mattis, commodo placerat purus. Aenean vitae
lacus vitae nunc viverra sollicitudin. Vestibulum ante lacus vitae purus viverra
sollicitudin. Suspendisse pretium quam vitae lacus laoreet.

Quisque sed lacus vitae purus viverra sollicitudin. Proin ac justo eget lacus laoreet
vestibulum. Nullam maximus purus quis ante commodo viverra. Sed interdum lacus vitae
purus viverra sollicitudin. Aenean vitae lacus vitae nunc viverra sollicitudin.

Cras non lacus eget sapien mattis laoreet. Aenean vitae lacus vitae nunc viverra
sollicitudin. Vestibulum ante lacus vitae purus viverra sollicitudin. Suspendisse
pretium quam vitae lacus laoreet. Morbi malesuada, libero vitae consequat mattis,
commodo placerat purus.

Donec laoreet bibendum ligula, vitae malesuada ante. Nullam maximus purus quis ante
commodo viverra. Sed interdum lacus vitae purus viverra sollicitudin. Aenean vitae
lacus vitae nunc viverra sollicitudin.

Praesent commodo placerat purus, eget malesuada ante. Nullam maximus purus quis ante
commodo viverra. Sed interdum lacus vitae purus viverra sollicitudin. Aenean vitae
lacus vitae nunc viverra sollicitudin.</p>
</div>

{% endblock %}